<div class="body">
    <header>
        <div class="header__logo">
            <img class="logo" src="../../assets/icons/Other/logo.svg" alt="Логотип">
        </div>
    </header>
    
    <main>
        <div class="input-field">
            <input type="text">
        </div>
        <div class="hint-city">
            <div class="hint-city__container">
                <div class="hint-city__icon-arrow">
                    <img class="icon-arrow" src="../../assets/icons/Other/Arrow.svg" alt="Стрелка вверх">
                </div>
                <div class="hint-city__description">
                    <p class="hint-city__text">Начните вводить город, например $</p>
                </div>
            </div>
        </div>
        <div class="hint-bookmark">
            <div class="hint-bookmark__container">
                <div class="hint-bookmark__description">
                    Используйте значок «закладки»,
                    чтобы закрепить город на главной
                </div>
                <div class="hint-bookmark__icon-bookmark">
                    <img class="icon-bookmark" src="../../assets/icons/Other/Bookmark.svg" alt="Закладка">
                </div>
            </div>
        </div>
    </main>
</div>
