header {
    margin: 0 20px;
}

.header__logo {
    display: flex;
}

.logo__container {
    display: flex;
    align-items: center;
}

.logo__icon {
    width: 30px;
    height: 30px;

}

.logo__text {
    margin-left: 12.5px;
    font-family: "SF-Bold";
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.input-field, .hint-city {
    width: 100%;
    margin-bottom: 30px;
}

.hint-city {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 95px;
}

.hint-city__container {
    display: flex;
    width: 80%;
    justify-content: center;
}

.hint-city__icon-arrow {
    margin-right: 6px;
}

.icon-arrow {
    width: 38px;
    height: 32px;
}

.hint-bookmark__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hint-bookmark__description {
    text-align: center;
    margin-bottom: 23px;
}

.hint-city__text {
    text-align: center;
}

.icon-bookmark {
    max-width: 40px;
    max-height: 40px;
}

a {
    text-decoration:none;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    border-bottom-style: dashed;
}

ul{ 
	list-style: none;
	margin: 0;
    padding: 0;
}


.post-weather {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.post-weather__post-container {
    background: rgba(41, 46, 68, 0.5);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer; 
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-container__city {
    margin-top: 23px;
    margin-bottom: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);

    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;

}

.post-container__temp {
    margin: 0;
    color: rgba(255, 255, 255, 1);
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;

}

.item_temp {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "SF-Medium";
}

.post-container__icon {
    margin-bottom: 16px;
}

.icon_weather {
    width: 78px;
    height: 78px;
}


@media (min-width: 300px) {

    .post-weather {
        width: 100%;
    }

    .post-weather__post-container {
        flex-basis: calc((100% / 2) - (2rem / 2));
    }
    
    .post-weather__post-container:nth-child(2n) {
        margin-right: 0;
    }

}

@media (min-width: 479px) {

    .post-weather {
        width: 100%;
    }

    .post-weather__post-container {
        flex-basis: calc((100% / 2) - (2rem / 2));
    }
}
@media (min-width: 640px) {

    .header {
        margin: 0 0 40px 0;
        background-color: rgba(42, 47, 69, 1);
    }

    .logo__container_logo {
        padding: 20px 0 20px 20px;
    }

    .input-field {
        width: 50%;
        margin-bottom: 60px;
    }

    .post-weather {
        width: 60%;
        justify-content: center;
    }

    .post-weather__post-container {
        flex-basis: calc((80% / 3) - (2rem / 3));
    }

    .post-weather__post-container:nth-child(2n) {
        margin-right: 1rem;
    }

    .post-weather__post-container:nth-child(3n) {
        margin-right: 0;
    }
} 
@media (min-width: 1024px) {

    .post-weather {
        width: 80%;
    }

    .post-weather__post-container {
        flex-basis: calc((80% / 3) - (2rem / 3));
    }

    .post-weather__post-container:nth-child(2n) {
        margin-right: 1rem;
    }

    .post-weather__post-container:nth-child(3n) {
        margin-right: 0;
    }
}

.input-field * {
    /* all: unset; */
    background-color: #30354B;
    color: #8A91AB;
    cursor: pointer; 
    border: none;
}

.input > * {
    
    background-color: #2A2F45;
    color: #8A91AB;

    cursor: pointer; 
}

.autocomplete-container > .not-found {
    padding: 0;
    border: none;
    background: #30354B;
}
